/* Reset && Generals settings */

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
}

ul {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
    width: 100vw;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: var(--white-);
}

:root {
    --white- : rgba(248, 248, 248, 1);
}

.border_section {
    border-top: 2px solid;
    border-image: linear-gradient(to right, white, blue, white, red, white) 1;
}

/* Header */

nav {
    background-color: var(--white-);
}

.logo {
    height: 2.5rem;
}

/* Title section */

.img_presentation {
    background-image: url("../images/meeting-picture.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 93vh;
    width: 100vw;
}

.title_container {
    padding-top: 75vh;
}

.title {
    text-align: center;
    background-color: rgba(248, 248, 248, 0.6);
    padding-left: 1rem;
    padding-right: 1rem;
}