/* Reset && Generals settings */

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
}

ul {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
    width: 100vw;
}
/* Fonts */
body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: var(--white-);
}
/* Colors */
:root {
    --white-: rgba(248, 248, 248, 1);
    --white_light_opactity- : rgba(248, 248, 248, 0.6);
    --dark_blue-: rgba(18, 68, 139, 1);
    --middle_blue-: rgba(187, 202, 234, 1);
    --red-: rgba(180, 31, 36, 1);
}
/* Border */
.border_section {
    border-top: 3px solid;
    border-image: linear-gradient(to right, var(--white-), var(--dark_blue-), var(--white-), var(--red-), var(--white-)) 1;
}
/* Buttons */
.button_blue {
    color: var(--white-);
    background-color: var(--middle_blue-);
}
.button_blue:hover {
    background-color: var(--dark_blue-);
    color: var(--white-);
}

/* Header */

header {
    background-color: var(--middle_blue-);
}

.logo {
    height: 3rem;
    transform: scale(2);
}

@media (max-width: 575px) {
    .container-fluid {
        margin: 0 2rem;
    }
}

/* Title section */

.img_presentation {
    background-image: url("../images/shutterstock_649856485-2048x1365.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 92vh;
    width: 100vw;
}

@media (max-width: 575px) {
    .img_presentation {
        background-attachment: local;
        background-position: center;
    }
}

.title_container {
    padding-top: 74vh;
}

.title {
    text-align: center;
    background-color: var(--white_light_opactity-);
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (max-width: 767px) {
    .title_container {
        padding-top: 67vh;
    }
}

/* Events section */

.meeting_list{
    list-style: circle;
}

.carousel_img{
    object-fit: cover;
}

.img_position{
    object-position: bottom;
}

.events-img_title {
    background-color: var(--white_light_opactity-);
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%230000FF' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

/* Footer */

.footer_icon {
    max-height: 3rem;
    transform: scale(1.7);
}

.socials_links:hover {
    color: var(--dark_blue-);
}