/* Reset && Generals settings */

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
}

ul {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
    width: 100vw;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: var(--white-);
}

:root {
    --white- : rgba(248, 248, 248, 1);
}

.border_section {
    border-top: 2px solid;
    border-image: linear-gradient(to right, white, blue, white, red, white) 1;
}

/* Header */

nav {
    background-color: var(--white-);
}

.logo {
    height: 2.5rem;
}

/* Title section */

.img_presentation {
    background-image: url("../images/meeting-picture.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 93vh;
    width: 100vw;
}

.title_container {
    padding-top: 75vh;
}

.title {
    text-align: center;
    background-color: rgba(248, 248, 248, 0.6);
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Events section */

.events-img_title {
    background-color: rgba(248, 248, 248, 0.6);
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%230000FF' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}